.navigation-links-wrapper {
  display: contents;
}
 
.navigation-links-nav {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
 
.navigation-links-navlink1 {
  cursor: pointer;
  transition: 0.3s;
  text-decoration: none;
}
 
.navigation-links-navlink1:hover {
  color: var(--dl-color-scheme-brown);
}
 
.navigation-links-navlink2 {
  cursor: pointer;
  transition: 0.3s;
  margin-left: 41px;
  text-decoration: none;
}
 
.navigation-links-navlink2:hover {
  color: var(--dl-color-scheme-brown);
}
 

 

 

 

 

 

 

 

 
.navigation-linksroot-class-name8 {
  margin-right: var(--dl-layout-space-threeunits);
}
 

 
.navigation-linksroot-class-name10 {
  margin-right: var(--dl-layout-space-threeunits);
}
 

 
.navigation-linksroot-class-name12 {
  margin-right: var(--dl-layout-space-threeunits);
}
 

 
.navigation-linksroot-class-name17 {
  margin-right: var(--dl-layout-space-threeunits);
}
 
@media(max-width: 767px) {
  .navigation-links-nav {
    align-items: flex-start;
    flex-direction: column;
  }
  .navigation-links-navlink1 {
    margin-bottom: var(--dl-layout-space-unit);
  }
  .navigation-links-navlink2 {
    margin-left: 0;
    margin-bottom: var(--dl-layout-space-unit);
  }
}

.navigation-links-wrapper-f2h9 {
  display: contents;
}
 
.navigation-links-nav1 {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
 
.navigation-links-navlink3 {
  cursor: pointer;
  transition: 0.3s;
  text-decoration: none;
}
 
.navigation-links-navlink3:hover {
  color: var(--dl-color-scheme-brown);
}
 
.navigation-links-navlink4 {
  cursor: pointer;
  transition: 0.3s;
  margin-left: 41px;
  text-decoration: none;
}
 
.navigation-links-navlink4:hover {
  color: var(--dl-color-scheme-brown);
}
 

 

 

 

 

 

 

 

 
.navigation-linksroot-class-name8 {
  margin-right: var(--dl-layout-space-threeunits);
}
 

 
.navigation-linksroot-class-name10 {
  margin-right: var(--dl-layout-space-threeunits);
}
 

 
.navigation-linksroot-class-name12 {
  margin-right: var(--dl-layout-space-threeunits);
}
 

 
.navigation-linksroot-class-name17 {
  margin-right: var(--dl-layout-space-threeunits);
}
 
@media(max-width: 767px) {
  .navigation-links-nav1 {
    align-items: flex-start;
    flex-direction: column;
  }
  .navigation-links-navlink3 {
    margin-bottom: var(--dl-layout-space-unit);
  }
  .navigation-links-navlink4 {
    margin-left: 0;
    margin-bottom: var(--dl-layout-space-unit);
  }
}

.portofolio-card-wrapper {
  display: contents;
}
 
.portofolio-card-speaker-card {
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
}
 
.portofolio-card-image-container {
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
  min-width: 300px;
  max-height: 313px;
  min-height: 313px;
  align-items: flex-end;
  margin-bottom: var(--dl-layout-space-unit);
  flex-direction: column;
  justify-content: flex-end;
  background-color: rgba(165, 42, 42, 0.7);
}
 
.portofolio-card-slider {
  width: 500px;
  height: 300px;
  display: inline-block;
}
 
.portofolio-card-slider-slide1 {
  display: flex;
  width: 100%; /* or any fixed width */
  height: auto; /* won't help here unless content drives height */
  aspect-ratio: 3 / 2; /* optional, keeps proportions */
  background-size: contain; /* or cover */
  background-repeat: no-repeat;
  background-position: center;
}
 
.portofolio-card-slider-slide2 {
  display: flex;
  width: 100%; /* or any fixed width */
  height: auto; /* won't help here unless content drives height */
  aspect-ratio: 3 / 2; /* optional, keeps proportions */
  background-size: contain; /* or cover */
  background-repeat: no-repeat;
  background-position: center;
}
 
.portofolio-card-slider-slide3 {
    display: flex;
  width: 100%; /* or any fixed width */
  height: auto; /* won't help here unless content drives height */
  aspect-ratio: 3 / 2; /* optional, keeps proportions */
  background-size: contain; /* or cover */
  background-repeat: no-repeat;
  background-position: center;
}
 
.portofolio-card-slider-pagination {
  display: block;
}
 
.portofolio-card-name {
  font-size: 20px;
  align-self: center;
  font-style: italic;
  text-align: center;
  font-weight: 900;
}
 
.portofolio-card-about {
  align-self: center;
  text-align: center;
}
 
.gallery-fragment2 {
  display: contents;
}
 
.gallery-text14 {
  display: inline-block;
}
 
.gallery-fragment1 {
  display: contents;
}
 
.gallery-text13 {
  display: inline-block;
}
 

 

 

 

 

 

 


.gallery-container1 {
  width: 100%;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
 
.gallery-header {
  top: 0;
  width: 100%;
  display: flex;
  z-index: 100;
  position: fixed;
  align-items: center;
  justify-content: center;
  background-color: var(--dl-color-scheme-white);
}
 
.gallery-max-width1 {
  width: 100%;
  display: flex;
  max-width: var(--dl-layout-size-maxwidth);
  align-items: center;
  padding-top: var(--dl-layout-space-twounits);
  padding-left: var(--dl-layout-space-oneandhalfunits);
  padding-right: var(--dl-layout-space-oneandhalfunits);
  padding-bottom: var(--dl-layout-space-twounits);
  justify-content: space-between;
}
 
.gallery-image2 {
  width: 110px;
  height: 104px;
}
 
.gallery-nav1 {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
 
.gallery-register1 {
  text-decoration: none;
}
 
.gallery-burger-menu {
  display: none;
}
 
.gallery-icon10 {
  fill: var(--dl-color-scheme-darkblue);
  width: 24px;
  height: 24px;
  display: flex;
}
 
.gallery-nav2 {
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-layout-space-oneandhalfunits);
  flex-direction: column;
}
 
.gallery-container2 {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-layout-space-threeunits);
  justify-content: space-between;
}
 
.gallery-close-mobile-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
 
.gallery-icon12 {
  width: 24px;
  height: 24px;
}
 
.gallery-portofolio {
  margin-top: 128px;
  background-color: #8e7941;
}
 
.gallery-max-width2 {
  padding-left: 0px;
  padding-right: 0px;
  flex-direction: column;
}
 
.gallery-text-container {
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-layout-space-fourunits);
  flex-direction: column;
}
 
.gallery-text10 {
  color: var(--dl-color-scheme-brown);
  font-style: normal;
  text-align: center;
  font-weight: 700;
  margin-bottom: 4px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}
 
.gallery-text11 {
  text-align: center;
  margin-bottom: var(--dl-layout-space-unit);
}
 
.gallery-text12 {
  color: var(--dl-color-scheme-black80);
  text-align: center;
  line-height: 26px;
  margin-bottom: var(--dl-layout-space-twounits);
}
 
.gallery-tab-selector-cards-container {
  gap: 20px;
  width: 1033px;
  display: flex;
  flex-wrap: wrap;
  grid-row-gap: 40px;
  grid-column-gap: 20px;
  justify-content: center;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(3, 1fr);
}
 
.gallery-fragment1 {
  display: contents;
}
 
.gallery-text13 {
  display: inline-block;
}
 
.gallery-fragment2 {
  display: contents;
}
 
.gallery-text14 {
  display: inline-block;
}
 
.gallery-contact20 {
  gap: var(--dl-layout-space-threeunits);
  display: flex;
  overflow: hidden;
  position: relative;
  flex-direction: column;
}
 
.gallery-max-width3 {
  gap: var(--dl-layout-space-threeunits);
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.gallery-content1 {
  gap: var(--dl-layout-space-oneandhalfunits);
  flex: 1;
  width: 100%;
  display: flex;
  flex-grow: 1;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
 
.gallery-contact-info1 {
  gap: var(--dl-layout-space-oneandhalfunits);
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
 
.gallery-content2 {
  gap: var(--dl-layout-space-unit);
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
 
.gallery-text15 {
  align-self: stretch;
  text-align: center;
}
 
.gallery-text16 {
  text-align: center;
}
 
.gallery-email {
  text-align: center;
}
 
.gallery-content4 {
  gap: var(--dl-layout-space-oneandhalfunits);
  flex: 1;
  width: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
 
.gallery-contact-info2 {
  gap: var(--dl-layout-space-oneandhalfunits);
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
 
.gallery-content5 {
  gap: var(--dl-layout-space-unit);
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
 
.gallery-text17 {
  align-self: stretch;
  text-align: center;
}
 
.gallery-text18 {
  text-align: center;
}
 
.gallery-phone {
  text-align: center;
}
 
.gallery-content6 {
  gap: var(--dl-layout-space-oneandhalfunits);
  flex: 1;
  width: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
 
.gallery-contact-info3 {
  gap: var(--dl-layout-space-oneandhalfunits);
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
 
.gallery-content7 {
  gap: var(--dl-layout-space-unit);
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
 
.gallery-text19 {
  align-self: stretch;
  text-align: center;
}
 
.gallery-text20 {
  text-align: center;
}
 
.gallery-address {
  text-align: center;
}
 
.gallery-footer4 {
  gap: 80px;
  width: 100%;
  height: auto;
  display: flex;
  padding: var(--dl-layout-space-fiveunits);
  overflow: hidden;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
}
 
.gallery-max-width4 {
  gap: var(--dl-layout-space-threeunits);
  display: flex;
  align-items: center;
  flex-direction: column;
}
 
.gallery-content8 {
  gap: 32px;
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  justify-content: center;
}
 
.gallery-logo {
  gap: 24px;
  width: auto;
  display: flex;
  overflow: hidden;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
 
.gallery-image1 {
  width: 110px;
  height: 105px;
}
 
.gallery-social-links {
  gap: var(--dl-layout-space-unit);
  display: flex;
  flex-grow: 1;
  align-self: center;
  align-items: center;
  justify-content: flex-start;
}
 
.gallery-link1 {
  display: contents;
}
 
.gallery-icon22 {
  text-decoration: none;
}
 
.gallery-link2 {
  display: contents;
}
 
.gallery-icon24 {
  text-decoration: none;
}
 
.gallery-credits {
  gap: var(--dl-layout-space-twounits);
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
 
.gallery-row {
  gap: 24px;
  display: flex;
  align-items: flex-start;
}
 
.gallery-footer-links {
  gap: var(--dl-layout-space-oneandhalfunits);
  display: flex;
  align-items: flex-start;
}
 
@media(max-width: 991px) {
  .gallery-nav1 {
    display: none;
  }
  .gallery-burger-menu {
    display: flex;
  }
  .gallery-tab-selector-cards-container {
    grid-template-columns: repeat(2, 1fr);
  }
  .gallery-logo {
    width: auto;
  }
}
 
@media(max-width: 767px) {
  .gallery-max-width1 {
    padding: var(--dl-layout-space-unit);
  }
  .gallery-tab-selector-cards-container {
    grid-template-columns: 1fr;
  }
  .gallery-max-width3 {
    flex-direction: column;
  }
  .gallery-content8 {
    flex-direction: column;
  }
  .gallery-row {
    flex-direction: column;
  }
  .gallery-footer-links {
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
}
 
@media(max-width: 479px) {
  .gallery-max-width4 {
    gap: var(--dl-layout-space-oneandhalfunits);
  }
  .gallery-content8 {
    width: 100%;
  }
}
