.navigation-links-wrapper {
  display: contents;
}
 
.navigation-links-nav {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
 
.navigation-links-navlink1 {
  cursor: pointer;
  transition: 0.3s;
  text-decoration: none;
}
 
.navigation-links-navlink1:hover {
  color: var(--dl-color-scheme-brown);
}
 
.navigation-links-navlink2 {
  cursor: pointer;
  transition: 0.3s;
  margin-left: 41px;
  text-decoration: none;
}
 
.navigation-links-navlink2:hover {
  color: var(--dl-color-scheme-brown);
}
 

 

 

 

 

 

 

 

 
.navigation-linksroot-class-name8 {
  margin-right: var(--dl-layout-space-threeunits);
}
 

 
.navigation-linksroot-class-name10 {
  margin-right: var(--dl-layout-space-threeunits);
}
 

 
.navigation-linksroot-class-name12 {
  margin-right: var(--dl-layout-space-threeunits);
}
 

 
.navigation-linksroot-class-name17 {
  margin-right: var(--dl-layout-space-threeunits);
}
 
@media(max-width: 767px) {
  .navigation-links-nav {
    align-items: flex-start;
    flex-direction: column;
  }
  .navigation-links-navlink1 {
    margin-bottom: var(--dl-layout-space-unit);
  }
  .navigation-links-navlink2 {
    margin-left: 0;
    margin-bottom: var(--dl-layout-space-unit);
  }
}

.navigation-links-wrapper-ycug {
  display: contents;
}
 
.navigation-links-nav1 {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
 
.navigation-links-navlink3 {
  cursor: pointer;
  transition: 0.3s;
  text-decoration: none;
}
 
.navigation-links-navlink3:hover {
  color: var(--dl-color-scheme-brown);
}
 
.navigation-links-navlink4 {
  cursor: pointer;
  transition: 0.3s;
  margin-left: 41px;
  text-decoration: none;
}
 
.navigation-links-navlink4:hover {
  color: var(--dl-color-scheme-brown);
}
 

 

 

 

 

 

 

 

 
.navigation-linksroot-class-name8 {
  margin-right: var(--dl-layout-space-threeunits);
}
 

 
.navigation-linksroot-class-name10 {
  margin-right: var(--dl-layout-space-threeunits);
}
 

 
.navigation-linksroot-class-name12 {
  margin-right: var(--dl-layout-space-threeunits);
}
 

 
.navigation-linksroot-class-name17 {
  margin-right: var(--dl-layout-space-threeunits);
}
 
@media(max-width: 767px) {
  .navigation-links-nav1 {
    align-items: flex-start;
    flex-direction: column;
  }
  .navigation-links-navlink3 {
    margin-bottom: var(--dl-layout-space-unit);
  }
  .navigation-links-navlink4 {
    margin-left: 0;
    margin-bottom: var(--dl-layout-space-unit);
  }
}

.services-card-wrapper {
  display: contents;
}
 
.services-card-container {
  width: 56px;
  height: 56px;
  display: flex;
  align-items: center;
  border-radius: var(--dl-layout-radius-radius4);
  margin-bottom: var(--dl-layout-space-twounits);
  justify-content: center;
  background-color: rgba(182, 71, 47, 0.1);
}
 
.services-card-image {
  width: 24px;
  height: 24px;
  object-fit: contain;
}
 
.services-card-text1 {
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  margin-bottom: var(--dl-layout-space-halfunit);
}
 
.services-card-text2 {
  margin-bottom: var(--dl-layout-space-oneandhalfunits);
}
 
.services-card-text3 {
  cursor: pointer;
  text-decoration: underline;
}

.services-card-wrapper-7637 {
  display: contents;
}
 
.services-card-container1 {
  width: 56px;
  height: 56px;
  display: flex;
  align-items: center;
  border-radius: var(--dl-layout-radius-radius4);
  margin-bottom: var(--dl-layout-space-twounits);
  justify-content: center;
  background-color: rgba(182, 71, 47, 0.1);
}
 
.services-card-image1 {
  width: 24px;
  height: 24px;
  object-fit: contain;
}
 
.services-card-text4 {
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  margin-bottom: var(--dl-layout-space-halfunit);
}
 
.services-card-text5 {
  margin-bottom: var(--dl-layout-space-oneandhalfunits);
}
 
.services-card-text6 {
  cursor: pointer;
  text-decoration: underline;
}

.services-card-wrapper-f6ep {
  display: contents;
}
 
.services-card-container2 {
  width: 56px;
  height: 56px;
  display: flex;
  align-items: center;
  border-radius: var(--dl-layout-radius-radius4);
  margin-bottom: var(--dl-layout-space-twounits);
  justify-content: center;
  background-color: rgba(182, 71, 47, 0.1);
}
 
.services-card-image2 {
  width: 24px;
  height: 24px;
  object-fit: contain;
}
 
.services-card-text7 {
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  margin-bottom: var(--dl-layout-space-halfunit);
}
 
.services-card-text8 {
  margin-bottom: var(--dl-layout-space-oneandhalfunits);
}
 
.services-card-text9 {
  cursor: pointer;
  text-decoration: underline;
}

.home-container1 {
  width: 100%;
  display: flex;
  position: relative;
  min-height: 100vh;
  overflow-x: hidden;
  align-items: center;
  flex-direction: column;
}
 
.home-header {
  top: 0;
  width: 100%;
  display: flex;
  z-index: 100;
  position: fixed;
  align-items: center;
  justify-content: center;
  background-color: var(--dl-color-scheme-white);
}
 
.home-max-width1 {
  width: 100%;
  display: flex;
  max-width: var(--dl-layout-size-maxwidth);
  align-items: center;
  padding-top: var(--dl-layout-space-twounits);
  padding-left: var(--dl-layout-space-oneandhalfunits);
  padding-right: var(--dl-layout-space-oneandhalfunits);
  padding-bottom: var(--dl-layout-space-twounits);
  justify-content: space-between;
}
 
.home-image2 {
  width: 110px;
  height: 104px;
}
 
.home-nav1 {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
 
.home-register1 {
  text-decoration: none;
}
 
.home-burger-menu {
  display: none;
}
 
.home-icon10 {
  fill: var(--dl-color-scheme-darkblue);
  width: 24px;
  height: 24px;
  display: flex;
}
 
.home-nav2 {
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-layout-space-oneandhalfunits);
  flex-direction: column;
}
 
.home-container2 {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-layout-space-threeunits);
  justify-content: space-between;
}
 
.home-close-mobile-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
 
.home-icon12 {
  width: 24px;
  height: 24px;
}
 
.home-main {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.home-hero {
  position: relative;
  padding-top: 128px;
  background-color: #907345;
}
 
.home-max-width2 {
  margin-top: var(--dl-layout-space-threeunits);
}
 
.home-heading-container1 {
  flex: 1;
  display: flex;
  max-width: 100%;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
 
.home-text10 {
  text-align: center;
  margin-bottom: var(--dl-layout-space-halfunit);
}
 
.home-text11 {
  color: var(--dl-color-scheme-black);
  font-size: 18px;
  text-align: center;
  line-height: 1.44;
  margin-bottom: var(--dl-layout-space-twounits);
}
 
.home-primary {
  margin-bottom: var(--dl-layout-space-threeunits);
  text-decoration: none;
}
 
.home-gallery {
  width: 100%;
  display: flex;
  grid-gap: 20px;
  align-items: stretch;
}
 
.home-container3 {
  width: 25%;
  align-self: stretch;
}
 
.home-image4 {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: var(--dl-layout-radius-radius8);
}
 
.home-container4 {
  width: 25%;
  display: flex;
  grid-gap: 20px;
  align-items: stretch;
  flex-direction: column;
}
 
.home-image5 {
  width: 100%;
  object-fit: cover;
  border-radius: var(--dl-layout-radius-radius8);
}
 
.home-image6 {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: var(--dl-layout-radius-radius8);
}
 
.home-container5 {
  width: 50%;
  display: flex;
  grid-gap: 20px;
  flex-direction: column;
}
 
.home-image7 {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: var(--dl-layout-radius-radius8);
}
 
.home-container6 {
  width: 100%;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: 100px;
  display: flex;
  grid-gap: 20px;
}
 
.home-services {
  display: flex;
  padding-top: var(--dl-layout-space-fiveunits);
  flex-direction: column;
  background-color: var(--dl-color-scheme-lightbrown);
}
 
.home-max-width3 {
  flex-direction: column;
}
 
.home-heading-container2 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-end;
  margin-bottom: var(--dl-layout-space-fourunits);
  flex-direction: row;
  justify-content: space-between;
}
 
.home-text-container1 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.home-text12 {
  color: var(--dl-color-scheme-brown);
  font-style: normal;
  text-align: center;
  font-weight: 700;
  margin-bottom: 4px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}
 
.home-cards-container {
  display: flex;
  grid-gap: 20px;
}
 
.home-about {
  background-color: var(--dl-color-scheme-lightbrown);
}
 
.home-max-width4 {
  padding-top: var(--dl-layout-space-unit);
  flex-direction: row;
  padding-bottom: var(--dl-layout-space-unit);
  justify-content: space-between;
  background-color: #6f6f3c;
}
 
.home-text-container2 {
  flex: 1;
  width: 40%;
  display: flex;
  align-items: flex-start;
  margin-right: var(--dl-layout-space-unit);
  flex-direction: column;
}
 
.home-text19 {
  color: var(--dl-color-scheme-brown);
  font-style: normal;
  text-align: center;
  font-weight: 700;
  margin-bottom: 4px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}
 
.home-text20 {
  color: var(--dl-color-scheme-black80);
  line-height: 26px;
  margin-bottom: var(--dl-layout-space-twounits);
}
 
.home-image8 {
  flex: 1;
  width: 553px;
  height: 635px;
  object-fit: cover;
  border-radius: var(--dl-layout-radius-radius8);
}
 
.home-max-width5 {
  margin-top: var(--dl-layout-space-oneandhalfunits);
  padding-top: var(--dl-layout-space-fourunits);
  margin-bottom: var(--dl-layout-space-oneandhalfunits);
  flex-direction: row;
  padding-bottom: var(--dl-layout-space-fourunits);
  justify-content: space-between;
  background-color: #a9994f;
}
 
.home-text-container3 {
  flex: 1;
  width: 40%;
  display: flex;
  align-items: flex-start;
  margin-right: var(--dl-layout-space-unit);
  flex-direction: column;
}
 
.home-text30 {
  color: var(--dl-color-scheme-black80);
  line-height: 26px;
  margin-bottom: var(--dl-layout-space-twounits);
}
 
.home-image9 {
  flex: 1;
  width: 491px;
  height: 635px;
  object-fit: cover;
  border-radius: var(--dl-layout-radius-radius8);
}
 
.home-contact20 {
  gap: var(--dl-layout-space-threeunits);
  display: flex;
  overflow: hidden;
  position: relative;
  flex-direction: column;
}
 
.home-max-width6 {
  gap: var(--dl-layout-space-threeunits);
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.home-content1 {
  gap: var(--dl-layout-space-oneandhalfunits);
  flex: 1;
  width: 100%;
  display: flex;
  flex-grow: 1;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
 
.home-contact-info1 {
  gap: var(--dl-layout-space-oneandhalfunits);
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
 
.home-content2 {
  gap: var(--dl-layout-space-unit);
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
 
.home-text45 {
  align-self: stretch;
  text-align: center;
}
 
.home-text46 {
  text-align: center;
}
 
.home-email {
  text-align: center;
}
 
.home-content4 {
  gap: var(--dl-layout-space-oneandhalfunits);
  flex: 1;
  width: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
 
.home-contact-info2 {
  gap: var(--dl-layout-space-oneandhalfunits);
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
 
.home-content5 {
  gap: var(--dl-layout-space-unit);
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
 
.home-text47 {
  align-self: stretch;
  text-align: center;
}
 
.home-text48 {
  text-align: center;
}
 
.home-phone {
  text-align: center;
}
 
.home-content6 {
  gap: var(--dl-layout-space-oneandhalfunits);
  flex: 1;
  width: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
 
.home-contact-info3 {
  gap: var(--dl-layout-space-oneandhalfunits);
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
 
.home-content7 {
  gap: var(--dl-layout-space-unit);
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
 
.home-text49 {
  align-self: stretch;
  text-align: center;
}
 
.home-text50 {
  text-align: center;
}
 
.home-address {
  text-align: center;
}
 
.home-footer4 {
  gap: 80px;
  width: 100%;
  height: auto;
  display: flex;
  padding: var(--dl-layout-space-fiveunits);
  overflow: hidden;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
}
 
.home-max-width7 {
  gap: var(--dl-layout-space-threeunits);
  display: flex;
  align-items: center;
  flex-direction: column;
}
 
.home-content8 {
  gap: 32px;
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  justify-content: center;
}
 
.home-logo {
  gap: 24px;
  width: auto;
  display: flex;
  overflow: hidden;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
 
.home-image1 {
  width: 110px;
  height: 105px;
}
 
.home-social-links {
  gap: var(--dl-layout-space-unit);
  display: flex;
  flex-grow: 1;
  align-self: center;
  align-items: center;
  justify-content: flex-start;
}
 
.home-link1 {
  display: contents;
}
 
.home-icon22 {
  text-decoration: none;
}
 
.home-link2 {
  display: contents;
}
 
.home-icon24 {
  text-decoration: none;
}
 
.home-credits {
  gap: var(--dl-layout-space-twounits);
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
 
.home-row {
  gap: 24px;
  display: flex;
  align-items: flex-start;
}
 
.home-footer-links {
  gap: var(--dl-layout-space-oneandhalfunits);
  display: flex;
  align-items: flex-start;
}
 
@media(max-width: 991px) {
  .home-nav1 {
    display: none;
  }
  .home-burger-menu {
    display: flex;
  }
  .home-heading-container1 {
    max-width: 100%;
    margin-bottom: 42px;
  }
  .home-gallery {
    flex-direction: column;
  }
  .home-container3 {
    width: 100%;
  }
  .home-container4 {
    width: 100%;
    flex-direction: row;
  }
  .home-container5 {
    width: 100%;
    align-items: stretch;
  }
  .home-max-width4 {
    flex-direction: column;
  }
  .home-text-container2 {
    width: 100%;
    margin-right: 0px;
    margin-bottom: var(--dl-layout-space-oneandhalfunits);
  }
  .home-image-container1 {
    width: 100%;
  }
  .home-image8 {
    width: 100%;
  }
  .home-max-width5 {
    flex-direction: column;
  }
  .home-text-container3 {
    width: 100%;
    margin-right: 0px;
    margin-bottom: var(--dl-layout-space-oneandhalfunits);
  }
  .home-image-container2 {
    width: 100%;
  }
  .home-image9 {
    width: 100%;
  }
  .home-logo {
    width: auto;
  }
}
 
@media(max-width: 767px) {
  .home-max-width1 {
    padding: var(--dl-layout-space-unit);
  }
  .home-text10 {
    font-size: 48px;
  }
  .home-container4 {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .home-image5 {
    height: 100%;
  }
  .home-container6 {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .home-max-width6 {
    flex-direction: column;
  }
  .home-content8 {
    flex-direction: column;
  }
  .home-row {
    flex-direction: column;
  }
  .home-footer-links {
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
}
 
@media(max-width: 479px) {
  .home-image8 {
    margin-right: 12px;
  }
  .home-max-width7 {
    gap: var(--dl-layout-space-oneandhalfunits);
  }
  .home-content8 {
    width: 100%;
  }
}
