.footer3-footer4 {
  gap: 80px;
  width: 100%;
  height: auto;
  display: flex;
  padding: var(--dl-layout-space-fiveunits);
  overflow: hidden;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
}
 
.footer3-max-width {
  gap: var(--dl-layout-space-threeunits);
  display: flex;
  align-items: center;
  flex-direction: column;
}
 
.footer3-content {
  gap: 32px;
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  justify-content: center;
}
 
.footer3-logo {
  gap: 24px;
  width: auto;
  display: flex;
  overflow: hidden;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
 
.footer3-image1 {
  width: 110px;
  height: 105px;
}
 
.footer3-social-links {
  gap: var(--dl-layout-space-unit);
  display: flex;
  flex-grow: 1;
  align-self: center;
  align-items: center;
  justify-content: flex-start;
}
 
.footer3-link1 {
  display: contents;
}
 
.footer3-icon3 {
  text-decoration: none;
}
 
.footer3-link2 {
  display: contents;
}
 
.footer3-icon5 {
  text-decoration: none;
}
 
.footer3-credits {
  gap: var(--dl-layout-space-twounits);
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
 
.footer3-row {
  gap: 24px;
  display: flex;
  align-items: flex-start;
}
 
.footer3-footer-links {
  gap: var(--dl-layout-space-oneandhalfunits);
  display: flex;
  align-items: flex-start;
}
 
.footer3-fragment1 {
  display: contents;
}
 
.footer3-text1 {
  display: inline-block;
}
 
.footer3-fragment2 {
  display: contents;
}
 
.footer3-text2 {
  display: inline-block;
}
 
.footer3-fragment3 {
  display: contents;
}
 
.footer3-text3 {
  display: inline-block;
}
 
@media(max-width: 991px) {
  .footer3-logo {
    width: auto;
  }
}
 
@media(max-width: 767px) {
  .footer3-content {
    flex-direction: column;
  }
  .footer3-row {
    flex-direction: column;
  }
  .footer3-footer-links {
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
}
 
@media(max-width: 479px) {
  .footer3-max-width {
    gap: var(--dl-layout-space-oneandhalfunits);
  }
  .footer3-content {
    width: 100%;
  }
}
