.navigation-links-wrapper {
  display: contents;
}
 
.navigation-links-nav {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
 
.navigation-links-navlink1 {
  cursor: pointer;
  transition: 0.3s;
  text-decoration: none;
}
 
.navigation-links-navlink1:hover {
  color: var(--dl-color-scheme-brown);
}
 
.navigation-links-navlink2 {
  cursor: pointer;
  transition: 0.3s;
  margin-left: 41px;
  text-decoration: none;
}
 
.navigation-links-navlink2:hover {
  color: var(--dl-color-scheme-brown);
}
 

 

 

 

 

 

 

 

 
.navigation-linksroot-class-name8 {
  margin-right: var(--dl-layout-space-threeunits);
}
 

 
.navigation-linksroot-class-name10 {
  margin-right: var(--dl-layout-space-threeunits);
}
 

 
.navigation-linksroot-class-name12 {
  margin-right: var(--dl-layout-space-threeunits);
}
 

 
.navigation-linksroot-class-name17 {
  margin-right: var(--dl-layout-space-threeunits);
}
 
@media(max-width: 767px) {
  .navigation-links-nav {
    align-items: flex-start;
    flex-direction: column;
  }
  .navigation-links-navlink1 {
    margin-bottom: var(--dl-layout-space-unit);
  }
  .navigation-links-navlink2 {
    margin-left: 0;
    margin-bottom: var(--dl-layout-space-unit);
  }
}

.navigation-links-wrapper-3fnr {
  display: contents;
}
 
.navigation-links-nav1 {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
 
.navigation-links-navlink3 {
  cursor: pointer;
  transition: 0.3s;
  text-decoration: none;
}
 
.navigation-links-navlink3:hover {
  color: var(--dl-color-scheme-brown);
}
 
.navigation-links-navlink4 {
  cursor: pointer;
  transition: 0.3s;
  margin-left: 41px;
  text-decoration: none;
}
 
.navigation-links-navlink4:hover {
  color: var(--dl-color-scheme-brown);
}
 

 

 

 

 

 

 

 

 
.navigation-linksroot-class-name8 {
  margin-right: var(--dl-layout-space-threeunits);
}
 

 
.navigation-linksroot-class-name10 {
  margin-right: var(--dl-layout-space-threeunits);
}
 

 
.navigation-linksroot-class-name12 {
  margin-right: var(--dl-layout-space-threeunits);
}
 

 
.navigation-linksroot-class-name17 {
  margin-right: var(--dl-layout-space-threeunits);
}
 
@media(max-width: 767px) {
  .navigation-links-nav1 {
    align-items: flex-start;
    flex-direction: column;
  }
  .navigation-links-navlink3 {
    margin-bottom: var(--dl-layout-space-unit);
  }
  .navigation-links-navlink4 {
    margin-left: 0;
    margin-bottom: var(--dl-layout-space-unit);
  }
}

.navigation-header {
  top: 0;
  width: 100%;
  display: flex;
  z-index: 100;
  position: fixed;
  align-items: center;
  justify-content: center;
  background-color: var(--dl-color-scheme-white);
}
 
.navigation-max-width {
  width: 100%;
  display: flex;
  max-width: var(--dl-layout-size-maxwidth);
  align-items: center;
  padding-top: var(--dl-layout-space-twounits);
  padding-left: var(--dl-layout-space-oneandhalfunits);
  padding-right: var(--dl-layout-space-oneandhalfunits);
  padding-bottom: var(--dl-layout-space-twounits);
  justify-content: space-between;
}
 
.navigation-image1 {
  width: 110px;
  height: 104px;
}
 
.navigation-nav1 {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
 
.navigation-register1 {
  text-decoration: none;
}
 
.navigation-burger-menu {
  display: none;
}
 
.navigation-icon1 {
  fill: var(--dl-color-scheme-darkblue);
  width: 24px;
  height: 24px;
  display: flex;
}
 
.navigation-nav2 {
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-layout-space-oneandhalfunits);
  flex-direction: column;
}
 
.navigation-container {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-layout-space-threeunits);
  justify-content: space-between;
}
 
.navigation-close-mobile-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
 
.navigation-icon3 {
  width: 24px;
  height: 24px;
}
 
@media(max-width: 991px) {
  .navigation-nav1 {
    display: none;
  }
  .navigation-burger-menu {
    display: flex;
  }
}
 
@media(max-width: 767px) {
  .navigation-max-width {
    padding: var(--dl-layout-space-unit);
  }
}
