.portofolio-card-speaker-card {
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
}
 
.portofolio-card-image-container {
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
  min-width: 300px;
  max-height: 313px;
  min-height: 313px;
  align-items: flex-end;
  margin-bottom: var(--dl-layout-space-unit);
  flex-direction: column;
  justify-content: flex-end;
}
 
.portofolio-card-slider {
  width: 500px;
  height: 300px;
  display: inline-block;
}
 
.portofolio-card-slider-slide1 {
  display: flex;
  background-size: 100%;
  background-image: url('https://images.unsplash.com/photo-1698778574083-279be0ac6681?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=M3w5MTMyMXwwfDF8cmFuZG9tfHx8fHx8fHx8MTY5OTk3NzU2N3w&ixlib=rb-4.0.3&q=80&w=1080');
}
 
.portofolio-card-slider-slide2 {
  display: flex;
  background-size: 100%;
  background-image: url('https://images.unsplash.com/photo-1697384333613-de519c7367c4?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=M3w5MTMyMXwwfDF8cmFuZG9tfHx8fHx8fHx8MTY5OTk3NzAzN3w&ixlib=rb-4.0.3&q=80&w=1500');
}
 
.portofolio-card-slider-slide3 {
  display: flex;
  background-size: 100%;
  background-image: url('https://images.unsplash.com/photo-1698180687511-bd6c0104ee98?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=M3w5MTMyMXwwfDF8cmFuZG9tfHx8fHx8fHx8MTY5OTk3NzQ5NXw&ixlib=rb-4.0.3&q=80&w=1080');
}
 
.portofolio-card-slider-pagination {
  display: block;
}
 
.portofolio-card-name {
  font-size: 20px;
  align-self: center;
  font-style: italic;
  text-align: center;
  font-weight: 900;
}
 
.portofolio-card-about {
  align-self: center;
  text-align: center;
}
 
.portofolio-card-fragment1 {
  display: contents;
}
 
.portofolio-card-text1 {
  display: inline-block;
}
 
.portofolio-card-fragment2 {
  display: contents;
}
 
.portofolio-card-text2 {
  display: inline-block;
}
 

 

 

 

 

 

 

